@inject AquaBusinessTrackingWebUI.Services.CurrentUserService CurrentUser
<nav class="navbar navbar-expand gap-3">
    <div class="toggle-icon">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <form class="searchbar">
        <div class="position-absolute top-50 translate-middle-y search-icon ms-3">
            <ion-icon name="search-outline"></ion-icon>
        </div>
        <input class="form-control" type="text" placeholder="Search for anything">
        <div class="position-absolute top-50 translate-middle-y search-close-icon">
            <ion-icon name="close-outline"></ion-icon>
        </div>
    </form>
    <div class="top-navbar-right ms-auto">

        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a class="nav-link mobile-search-button" href="javascript:;">
                    <div class="">
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link position-relative" href="~/Message/Index">
                    <div>
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                    <span id="messageUnreadBadge"
                          style="display:none; position:absolute; top:2px; right:2px; background:#dc3545; color:#fff; border-radius:50%; min-width:18px; height:18px; font-size:11px; font-weight:600; align-items:center; justify-content:center; padding:0 4px;">
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dark-mode-icon" href="javascript:;">
                    <div class="mode-icon">
                        <ion-icon name="moon-outline"></ion-icon>
                    </div>
                </a>
            </li>
            
            <li class="nav-item dropdown dropdown-large dropdown-apps">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                    <div class="">
                        <ion-icon name="apps-outline"></ion-icon>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                    <div class="row row-cols-3 g-3 p-3">
                        <div class="col text-center">
                            <div class="app-box mx-auto bg-gradient-purple text-white">
                                <ion-icon name="people-outline"></ion-icon>
                            </div>
                            <div class="app-title">Personeller</div>
                        </div>
                        <div class="col text-center">
                            <div class="app-box mx-auto bg-gradient-info text-white">
                                <ion-icon name="business-outline"></ion-icon>
                            </div>
                            <div class="app-title">Firmalar / Cariler</div>
                        </div>
                        <div class="col text-center">
                            <div class="app-box mx-auto bg-gradient-success text-white">
                                <ion-icon name="cube-outline"></ion-icon>
                            </div>
                            <div class="app-title">Stoklar</div>
                        </div>
                        <div class="col text-center">
                            <div class="app-box mx-auto bg-gradient-danger text-white">
                                <ion-icon name="car-outline"></ion-icon>
                            </div>
                            <div class="app-title">Sevkiyat</div>
                        </div>
                        <div class="col text-center">
                            <div class="app-box mx-auto bg-gradient-warning text-white">
                                <ion-icon name="document-text-outline"></ion-icon>
                            </div>
                            <div class="app-title">Satış</div>
                        </div>
                        <div class="col text-center">
                            <a href="~/Settings/UserList" class="text-decoration-none text-reset">
                                <div class="app-box mx-auto bg-gradient-branding text-white">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </div>
                                <div class="app-title">Ayarlar</div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown dropdown-large">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <span class="notify-badge">8</span>
                        <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="javascript:;">
                        <div class="msg-header">
                            <p class="msg-header-title">Notifications</p>
                            <p class="msg-header-clear ms-auto">Marks all as read</p>
                        </div>
                    </a>
                    <div class="header-notifications-list">
                        <a class="dropdown-item" href="javascript:;">
                            <div class="d-flex align-items-center">
                                <div class="notify text-primary">
                                    <ion-icon name="cart-outline"></ion-icon>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="msg-name">
                                        New Orders <span class="msg-time float-end">
                                            2 min
                                            ago
                                        </span>
                                    </h6>
                                    <p class="msg-info">You have recived new orders</p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <a href="javascript:;">
                        <div class="text-center msg-footer">View All Notifications</div>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown dropdown-user-setting">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                    <div class="user-setting">
                        <img src="@ViewBag.CoverImgUrl" class="user-img" alt="">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="javascript:;">
                            <div class="d-flex flex-row align-items-center gap-2">
                                <img src="@ViewBag.CoverImgUrl" alt="" class="rounded-circle" width="54" height="54">
                                <div class="">
                                    <h6 class="mb-0 dropdown-user-name">@ViewBag.AppUserName  @ViewBag.AppUserSurName</h6>
                                    <small class="mb-0 dropdown-user-designation text-secondary">@ViewBag.DepartmentName</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="~/UserProfile/UserProfile">
                            <div class="d-flex align-items-center">
                                <div class="">
                                    <ion-icon name="person-outline"></ion-icon>
                                </div>
                                <div class="ms-3"><span>Profile</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        @if (CurrentUser.HasPermission("Admin"))
                        {
                            <a class="dropdown-item" href="~/AdminDashboard/Index">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <ion-icon name="speedometer-outline"></ion-icon>
                                    </div>
                                    <div class="ms-3"><span>Dashboard</span></div>
                                </div>
                            </a>
                        }
                        @if (!CurrentUser.HasPermission("Admin"))
                        {
                            <a class="dropdown-item" href="~/UserDashboard/Index">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <ion-icon name="speedometer-outline"></ion-icon>
                                    </div>
                                    <div class="ms-3"><span>Dashboard</span></div>
                                </div>
                            </a>
                        }
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" action="/Auth/Logout">
                            <button type="submit" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <ion-icon name="log-out-outline"></ion-icon>
                                    </div>
                                    <div class="ms-3"><span>Logout</span></div>
                                </div>
                            </button>
                        </form>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</nav>



