@model List<GetRolesDto>

@{
    ViewData["Title"] = "RolesList";
    Layout = "~/Views/_UserLayout/Index.cshtml";
}


<h6 class="mb-0 text-uppercase">Rol Listesi</h6>
<hr />

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rol Adı</th>
                        <th>Açıklama</th>
                        <th class="text-center">Güncelle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int counter = 1;
                    }

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@item.Name</td>
                            <td>@item.RoleName</td>


                            <td class="text-center">
                                <button class="btn btn-sm btn-outline-warning px-2 py-1"
                                        onclick="openModal(@item.Id)">
                                    <i class="bi bi-pencil-square fs-6"></i>
                                </button>
                            </td>


                            <td class="text-center">
                                <form method="post"
                                      asp-action="DeleteRole"
                                      asp-route-id="@item.Id"
                                      style="display:inline;">
                                    <button type="submit"
                                            class="btn btn-sm btn-danger px-2 py-1"
                                            onclick="return confirm('Silinsin mi?');">
                                        <i class="bi bi-trash3 fs-6"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rol Adı</th>
                        <th>Açıklama</th>
                        <th class="text-center">Güncelle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <a onclick="openModal()" class="btn btn-primary shadow-sm mt-3">
            Yeni Rol Ekle
        </a>
    </div>
</div>

<div id="modalContainer"></div>



<script>
       function openModal(id = null) {
        const url = id
            ? `/Settings/EditRoles/${id}`
            : `/Settings/AddRoles`;

        fetch(url)
            .then(r => r.text())
            .then(html => {
                document.getElementById('modalContainer').innerHTML = html;


                const modalEl = document.getElementById('roleModal');
                const modal = new bootstrap.Modal(modalEl);

                // Modal DOM'a yazıldıktan sonra event ekle
                modalEl.addEventListener('shown.bs.modal', function () {
                    document.getElementById('roleForm').addEventListener('submit', function(e) {
                        e.preventDefault();

                        fetch(this.action, {
                            method: 'POST',
                            body: new FormData(this)
                        })
                        .then(r => {
                            if (r.ok) {
                                modal.hide();
                                location.reload();
                            }
                        });
                    });
                }, { once: true }); // sadece bir kere çalışsın

                modal.show();
            });
    }
</script>