@using DTOLayer.Dtos.AdminDashboardDtos
@model RawMaterialsDto

<div class="page-section" id="hammadde">

    <div class="page-section" id="hammadde">

        <div class="section-header">
            <div>
                <div class="section-title">Hammadde &amp; Kimyasal</div>
                <div class="section-sub">Günlük tüketim ve stok hareketleri</div>
            </div>
        </div>

        <div class="row">

            <!-- Hurda Kağıt Tüketim Kartı -->
            <div class="col-lg-6 mb-3">
                <div class="card h-100">
                    <div class="card-title p-3">
                        <i class="ti ti-file-text"></i> Hurda Kağıt Tüketim
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Malzeme</th>
                                    <th>Balya</th>
                                    <th>Kg</th>
                                    <th>Pulper</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DoughPreparation)
                                {
                                    <tr>
                                        <td>@item.InventoryName</td>
                                        <td>@item.Bale</td>
                                        <td>@item.KG.ToString("N2")</td>
                                        <td>@item.PulperNo</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-light">
                                <tr class="fw-bold">
                                    <td>Toplam</td>
                                    <td>@Model.DoughPreparation.Sum(x => x.Bale)</td>
                                    <td>@Model.DoughPreparation.Sum(x => x.KG).ToString("N2")</td>
                                    <td>-</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Kimyasal Tüketim Kartı -->
            <div class="col-lg-6 mb-3">
                <div class="card h-100">
                    <div class="card-title p-3">
                        <i class="ti ti-flask"></i> Kimyasal Tüketim
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Malzeme</th>
                                    <th>Gelen</th>
                                    <th>Tüketilen</th>
                                    <th>Kalan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PapperMachineChemical)
                                {
                                    <tr>
                                        <td>@item.InventoryName</td>
                                        <td>@item.IncomingQuantity.ToString("N2")</td>
                                        <td>@item.ConsumedQuantity.ToString("N2")</td>
                                        <td>@item.RemainingQuantity.ToString("N2")</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-light">
                                <tr class="fw-bold">
                                    <td>Toplam</td>
                                    <td>@Model.PapperMachineChemical.Sum(x => x.IncomingQuantity).ToString("N2")</td>
                                    <td>@Model.PapperMachineChemical.Sum(x => x.ConsumedQuantity).ToString("N2")</td>
                                    <td>@Model.PapperMachineChemical.Sum(x => x.RemainingQuantity).ToString("N2")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
